<nav class="navbar navbar-light bg-primary">
  <a routerLink='/admin' class="navbar-brand">
    <i class="fa fa-home"></i>
    <span>后台管理</span>
  </a>
  <div *ngIf="authService.isLoggedIn()" class="ml-auto">
    <div class="d-inline-block" ngbDropdown>
      <button
        id="user"
        ngbDropdownToggle
        class="btn btn-outline-primary">管理员</button>
      <div ngbDropdownMenu aria-labelledby="user">
        <button class="dropdown-item" [routerLink]="['/admin/change-password']">修改密码</button>
        <button class="dropdown-item" (click)="authService.logout()">注销</button>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 bg-light mt-2">
      <nav class="nav flex-column nav-pills justify-content-center">
        <a routerLink='/admin/manage-carousels' routerLinkActive="active" class="nav-link">首页管理</a>
        <a routerLink='/admin/manage-projects' routerLinkActive="active" class="nav-link">项目管理</a>
        <a routerLink='/admin/manage-messages' routerLinkActive="active" class="nav-link">留言管理</a>
        <!-- <a routerLink='/admin/manage-houses' routerLinkActive="active" class="nav-link">户型管理</a> -->
      </nav>
    </div>
    <div class="col-md-10 p-md-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
