<form [formGroup]="form" (ngSubmit)="doSearch(form.value)" class="my-4">
  <h4>筛选条件</h4>
  <div class="form-row mb-2">
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">留言内容</span>
        </div>
        <input type="text" class="form-control" formControlName="content">
      </div>
    </div>
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">手机号码</span>
        </div>
        <input type="text" class="form-control" formControlName="phone">
      </div>
    </div>
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">用户称呼</span>
        </div>
        <input type="text" class="form-control" formControlName="call">
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">最早时间</span>
        </div>
        <input
          aria-describedby="date-help"
          class="form-control"
          formControlName="datetime"
          ngbDatepicker
          #d="ngbDatepicker">

        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <i class="fa fa-calendar"></i>
          </button>
        </div>
      </div>
      <small id="date-help" class="text-muted">点击右侧日历图标选择日期</small>
    </div>
    <div class="col">
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          formControlName="is_read"
          id="is_read">
        <label for="is_read" class="form-check-label">是否已读</label>
      </div>
    </div>
    <div class="col">
      <button class="btn btn-outline-success mr-2" type="submit">
        <i class="fa fa-search mr-1"></i>搜索
      </button>
      <button class="btn btn-outline-success" (click)="reset()" type="button">
        <i class="fa fa-refresh mr-1"></i>还原
      </button>
    </div>
  </div>
</form>
