<table class="table">
  <thead class="thead-light">
    <tr>
      <th>项目名称</th>
      <th>留言内容</th>
      <th>电话号码</th>
      <th>联系人称呼</th>
      <th>留言时间</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let message of messages">
      <td>{{message.project_name}}</td>
      <td>
        <button
          (click)="openViewModal(view)"
          class="btn btn-outline-primary btn-sm">查看</button>
      </td>
      <td>{{message.phone}}</td>
      <td>{{message.call}}</td>
      <td>{{message.time | date:'shortDate'}}</td>
      <td>
        <h5 *ngIf="message.is_read"><span class="badge badge-primary">已读</span></h5>
        <h5 *ngIf="!message.is_read"><span class="badge badge-warning">未读</span></h5>
      </td>
      <td>
        <button
          (click)="readMessage(message.message_id)"
          *ngIf="!message.is_read"
          class="btn btn-primary btn-sm mr-1">设为已读</button>
        <button
          (click)="unreadMessage(message.message_id)"
          *ngIf="message.is_read"
          class="btn btn-warning btn-sm mr-1">设为未读</button>
        <button
          (click)="openDeleteModal(delete)"
          class="btn btn-danger btn-sm mr-1">刪除</button>

      </td>

      <ng-template #view let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">查看留言</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">联系人：{{ message.call }}</h5>
              <h6 class="card-subtitle mb-2 text-muted"><i class="fa fa-phone"></i>{{ message.phone }}</h6>
              <p class="card-text">{{ message.content }}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-dark" (click)="c('Cross click')">关闭</button>
        </div>
      </ng-template>

      <ng-template #delete let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title text-danger">危险操作</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-danger">删除留言操作不可撤銷，请慎重！</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-dark" (click)="delete_message(message.message_id)">仍要删除</button>
          <button class="btn btn-outline-dark" (click)="c('Cross click')">取消</button>
        </div>
      </ng-template>
    </tr>
  </tbody>
</table>
