
<div class="container-fluid my-1">
  <div class="row">
    <div class="col-6 p-0">
      <span>{{ mock_project.name }}</span>
      <span class="text-muted text-smaller mr-auto">约{{ mock_project.size }}平方米</span>
    </div>
    <div class="col-6 text-right">
      约{{ mock_project.price }}元/平方米
    </div>
  </div>
</div>

<p class="text-muted text-small m-0">{{ mock_project.location }}</p>

<div>
  <span *ngFor="let tag of mock_project.tags">
    <app-tag [name]=tag></app-tag>
  </span>
</div>

<div class="container-fluid">
  <div class="row text-muted text-center text-small">
    <div class="col-6 border my-3 py-2">
      <i class="fa fa-share-square-o"></i>
      {{ mock_project.recommend_count }}推荐
    </div>
    <div class="col-6 border my-3 py-2">
        <i class="fa fa-handshake-o"></i>
        {{ mock_project.deal_count }}成交</div>
  </div>
</div>
