/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';

.text-small {
  font-size: small;
}
.text-smaller {
  font-size: smaller;
}

quill-editor {
  display: block;
}
