<form [formGroup]="form" (ngSubmit)="submitForm(form.value)" class="w-50">
  <h2 class="mb-4">密码修改</h2>
  <div class="form-group">
    <label for="old">旧密码</label>
    <input
      formControlName="old_password"
      class="form-control"
      id="old"
      type="password">
    <p *ngIf="oldPassword?.touched && oldPassword?.errors" class="alert alert-danger">需要旧密码</p>
    <p *ngIf="form?.hasError('invalidOldPassword')" class="alert alert-danger">旧密码错误</p>
  </div>
  <div class="form-group">
    <label for="new">新密码</label>
    <input
      formControlName="new_password"
      class="form-control"
      id="new"
      type="password">
    <p *ngIf="newPassword?.touched && newPassword?.errors" class="alert alert-danger">需要新密码</p>
  </div>
  <div class="form-group">
    <label for="confirm">确认新密码</label>
    <input
      formControlName="confirm"
      class="form-control"
      id="confirm"
      type="password">
    <p *ngIf="confirmPassword?.touched && form.hasError('unConfirmedPassword')" class="alert alert-danger">两次输入新密码不一致，请仔细检查</p>
  </div>
  <button [disabled]="form.invalid" type="submit" class="btn btn-primary">提交</button>
</form>
